@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 1 1000;
  font-display: swap;
  src: url('data-base64:./Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
}
  